@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --menu-bgColor: #282828;
  --menu-activeItem-bgColor: #333333b7;
  --separator-color: #4c4c4c;
  --contexify-menu-bgColor: rgba(40, 40, 40, 1);
  --contexify-separator-color: #4c4c4c;
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #3498db;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
  --activeItem-danger: #ff2323;
  --textItem-danger: #ff6b6b;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #212529;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.filesbar-scroll {
  overflow: hidden;
}
.filesbar-scroll:hover {
  overflow-x: auto;
}

.filesbar-scroll::-webkit-scrollbar {
  height: 4px;
  position: absolute;
}

.filesbar-scroll::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
}

.filesbar-scroll::-webkit-scrollbar-thumb {
  background: rgba(158, 158, 158, 0.267);
  position: absolute;
}

.contexify_item:not(.contexify_item-disabled).danger > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled).danger > .contexify_itemContent {
  color: var(--textItem-danger);
}
.contexify_item:not(.contexify_item-disabled) > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled) > .contexify_itemContent {
  margin: 4px auto;
}

.contexify_item:not(.contexify_item-disabled).danger:focus
  > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled).danger:hover
  > .contexify_itemContent,
.contexify_submenu-isOpen,
.contexify_submenu-isOpen > .contexify_itemContent {
  background-color: var(--activeItem-danger);
  border-radius: var(--contexify-activeItem-radius);
  color: var(--contexify-activeItem-color);
}

.rt-DropdownMenuViewport {
  min-width: 180px;
  padding: 8px 0 !important;
  background: var(--menu-bgColor) !important;
  outline: none !important;
  border: none !important;
  border-radius: 0px !important;
}
.rt-DropdownMenuItem {
  border-radius: 0 !important;
  padding: 21px 24px !important;
  font-size: 16px !important;
  cursor: pointer !important;
}
.rt-DropdownMenuItem[data-accent-color="red"] {
  color: var(--textItem-danger) !important;
}

.rt-DropdownMenuItem[data-accent-color="red"][data-highlighted] {
  background-color: var(--activeItem-danger) !important;
  color: #eeeeee !important;
}
.rt-DropdownMenuItem[data-accent-color="red"]:hover {
  background-color: var(--activeItem-danger) !important;
  color: #eeeeee !important;
}
.rt-BaseMenuSeparator {
  background-color: var(--separator-color) !important;
  margin: 8px 0 !important;
}
.rt-DropdownMenuItem:hover {
  background-color: var(--menu-activeItem-bgColor);
}
.rt-DropdownMenuItem[data-highlighted] {
  background-color: var(--menu-activeItem-bgColor);
}

#navbar {
  -webkit-app-region: drag;
}

.no-drag-nav {
  -webkit-app-region: no-drag;
}
